*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/beacon-keeper-library/build
/beacon-keeper-library/.idea/workspace.xml
/beacon-keeper-library/.idea/libraries
